<!DOCTYPE html><!-- Filtrado de Datos -->
<html ng-app="filtrodatos"><!-- invocamos la app del angular con ng-app su nombre -->
<head><!--  -->
<meta charset="utf-8">
	<title>filtrando datos</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
 <!-- se usa la directiva ng-model
	nos va a permitir realizar las busquedas a traves de filtros o un controlador	
  -->
<input type="text" ng-model="buscarFruta">
 <!-- hace el llamado con la direcctiva ng-controller "listas"
 buscar se invoca en el ng-repeat con: | filter:buscarFruta -->
<div ng-controller="listas">
	<ul><!-- se usa la directiva ng-repeat -->
		<!-- ng-repeat: me permite realizar una iteracion de los elementos -->
		<li ng-repeat="fruta in frutas | filter:buscarFruta">{{fruta}}</li>
		<!-- "fruta" variable de salida "in" (palabra reservada) 
		    "frutas" variable fuente $scope.frutas
		    y se muestra con las expresiones {{}} con la variable de salida fruta
		-->
	</ul>
</div>
 
 
 
<script type="text/javascript">
	
var miApp = angular.module('filtrodatos', []); //inicializamos la aplicacion angular
 // variable principal $scope
miApp.controller('listas',function($scope){
 
 $scope.frutas = ['Kiwi','Banana','Arándano'];
 
});
 
</script>
 
</body>
</html>
