<!DOCTYPE html><!-- Ordenar colecciones de Datos -->
<html ng-app="filtrodatos"><!-- invocamos la app del angular con ng-app su nombre -->
<head>
<meta charset="utf-8">
	<title>filtrando datos</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
 
<input type="text" ng-model="buscarFruta">
 
<div ng-controller="listas">
	
	<ul>
		<!-- filtro orderBy ordena en ascendente + y descendente con - -->
		<li ng-repeat="fruta in frutas | filter:buscarFruta | orderBy:'=nombre'">
			<!-- se hace llamado de atributo nombre de cada fruta -->
			<h2>{{fruta.nombre}}</h2>
			<p>Fruta de color {{fruta.color}} conocida por ser {{fruta.propiedades}}</p>
		</li>
 
	</ul>
</div>
<script type="text/javascript">
	
var miApp = angular.module('filtrodatos', []); //inicializamos la aplicacion angular
 
miApp.controller('listas',function($scope){
 
 $scope.frutas = [
	// Añadimos mas atributos
 	{
 		nombre: 'Kiwi',
 		color: 'Verde',
 		propiedades: 'rica en vitamina C'
 	},
 	{
 		nombre: 'Banana',
 		color: 'Amarilla',
 		propiedades: 'rica en magnesio y potasio'
 	},
 	{
 		nombre: 'Arándano',
 		color: 'Azul',
 		propiedades: 'buen antioxidante'
 	}
 
 
 ];
 
});
 
</script>
 
</body>
</html>
