<!DOCTYPE html><!--Controladores -->
<html ng-app="controladores"><!-- invocamos la app del angular con ng-app su nombre -->
<head>
<meta charset="utf-8">
	<title>Controladores con metodos</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
 <!-- invocamos el controlador con la directiva ng-controller + su nombre -->
<div ng-controller="controladorConMetodos">
	
	<input type="number" ng-model="valor1"><!-- esto creara un modelo interno que capturá los valores -->
	<input type="number" ng-model="valor2">
	<button ng-click="sumar()">Sumar</button><!-- directiva ng-click + el metodo() siempre con () -->
	<button ng-click="multiplicar()">Multiplicar</button>
	<hr><!--se hace el llamado del metodo -->
	<p>{{resultado}}</p>
 
</div>
 
 
<script type="text/javascript">
	
var controladorApp = angular.module('controladores', []);//inicializamos la aplicacion angular
 
controladorApp.controller('controladorConMetodos',function($scope){ 
	//accedemos al metodo controller
 
$scope.valor1 = 0; // se invocan con la direcctiva ng-model en el input del html
$scope.valor2 = 0;
 //metodo sumar, metodo son funciones dentro de los controladores
$scope.sumar = function(){
	
	$scope.resultado = $scope.valor1 + $scope.valor2;
}
 
$scope.multiplicar = function(){
 
	$scope.resultado = $scope.valor1 * $scope.valor2;
}
 
});
 
</script>
</body>
</html>
