<!DOCTYPE html><!-- Modificar Estilos CSS -->
<html>
<head>
<meta charset="utf-8">
	<title>Estilos</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<style>
		img{
			display: block;
			margin: auto;
		}
		.preguntas{
			width: 400px;
			margin: 30px auto;
			background: silver;
			padding: 20px;
			text-align: center;
		}
		.segundoEstilo{
 
			background: blue;
		}
	</style>
</head>
<body ng-app="estiloApp">
 
<div ng-controller="controladorEstilos">
	<!-- la Directiva ng-style Modifica el estilo a un html en angular  -->
	<!-- la Directiva ng-class añade una clase a un html en angular  -->
	<div class="preguntas" ng-style="estilosAngular" ng-class="clasesAngular">
		<button ng-click="opcionA()">Opcion A</button>
		<button ng-click="opcionB()">Opcion B</button>
		<hr>
		<button ng-click="cambiarEstilo()">Cambiar Estilo</button>
		<button ng-click="cambiarClase()">Cambiar Clase</button>
		<hr>
		<button ng-click="ocultarCajas()">Ocultar Caja</button>
		<button ng-click="mostrarCajas()">Mostrar Caja</button>
	</div>
	
</div>
 
 
<script type="text/javascript">
	
	var misEstilos = angular.module('estiloApp', []);//inicializamos la aplicacion angular
 
	misEstilos.controller('controladorEstilos', function($scope){
		// metodos
		$scope.opcionA = function(){
			
		}
 
		$scope.opcionB = function(){
			
		}
 
		$scope.cambiarEstilo = function(){
			// siempre se llama al objeto $scope
			$scope.estilosAngular = {
				// Sintaxis JSON (clave: valor)
				width:'600px',
				height:'200px',
				borderRadius:'20px'
			}
		}
 
		$scope.cambiarClase = function(){
			// siempre se llama al objeto $scope
			$scope.clasesAngular = 'segundoEstilo';
		}
 
		$scope.ocultarCajas = function(){
			
		} 
 
		$scope.mostrarCajas = function(){
			
		}
 
 
	});
 
</script>
 
</body>
</html>
