<!DOCTYPE html><!-- Eventos en el Mouse, evento click -->
<html>
<head>
<meta charset="utf-8">
	<title>Eventos Angular JS</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<style>
		#cuadrado{ background: red; width: 100px; height: 100px; margin: 30px 10px;}
	</style>
</head>
<body ng-app="eventosApp">
 
	<div ng-controller="eventosController">
		<button ng-click="saludo()">Click</button>
		<!-- siempre usar la funcion con ()  -->
		<button ng-dblclick="saludo()">Doble Click</button>
		<p ng-click="saludo()">El ng-click También funciona en párrafos</p>
		<strong>{{conteoClicks}}</strong>
		<!-- ng-mouseenter se activa cuando pasamos el puntero dentro del elemento  -->
		<!-- ng-mouseleave se activa cuando sacamos el puntero de un elemento  -->
		<div id="cuadrado" ng-mouseenter="dentroDelDiv()" ng-mouseleave="fueraDelDiv()"></div>
		<strong>Estado {{estado}}</strong>
		
	</div>
 
 
<script type="text/javascript">
	
	var miApp = angular.module('eventosApp', []);//inicializamos la aplicacion angular
	// controlador
	miApp.controller('eventosController',function($scope){
		// obj $scope
		$scope.estado = 'Mouse Inicial';
		
		$scope.conteoClicks = 0;
		$scope.saludo = function(){
			// se invoca desde el ng-click dentro del html
			$scope.conteoClicks++;
		}
		$scope.dentroDelDiv = function(){
		// se invoca desde el ng-mouseenter dentro del html
			$scope.estado = ' MouseEnter activo';
		}
		$scope.fueraDelDiv = function(){
		// se invoca desde el ng-mouseleave dentro del html
			$scope.estado = ' MouseLeave Fuera';
		}
 
	});
 
</script>
 
</body>
</html>
