<!DOCTYPE html><!-- Manejo y Colecciones de Datos -->
<html>
<head>
<meta charset="utf-8">
	<title>Coleciones de datos</title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body ng-app="coleccionesApp">
 
<div ng-controller="controladorColecciones">
	<ul>		
		<!-- ng-repeat
			datoIndividual es la var instancia que permite almacena los valores de datos
			in el parametro in permite iterar segun el num de elementos
			datos es la variable
		  -->
		<li ng-repeat="datoIndividual in datos">{{datoIndividual}}</li>
		
	</ul>
	<!-- ng-model permite crear una variable (nuevoItem)donde almacena la info  -->
	<input type="text" ng-model="nuevoItem">
	<!-- ng-click con la funcion que vincula el evento de la info -->
	<button ng-click="agregar()">Guardar</button>
</div>
 
<script type="text/javascript">
	
var coleccionDatosApp = angular.module('coleccionesApp', []);
//inicializamos la aplicacion angular
 
coleccionDatosApp.controller('controladorColecciones',function($scope){
	// var array datos y se muestra con la direcctiva ng-repeat
 	$scope.datos = ['piedra','papel','tijera'];
 
	//push permite ingresar un elemento a un array invocado de la var nuevoItem del form input
 	$scope.agregar = function(){
        $scope.datos.push($scope.nuevoItem);
 	}
 
 	$scope.mostrarDatos = function(info){
 
 	}
 
});
 
</script>
 
</body>
</html>
